<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VJISS | Student Registration</title>
    <link rel="stylesheet" href="{% static 'css/registation.css' %}">

  
</head>
<body>

<div class="container">
    <div class="company-name">VJISS</div>
    <div class="subtitle">Innovating Student Solutions</div>

    <h2>Student Registration</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Student Name</label>
        <input type="text" name="student_name" required>

        <label>Student Email</label>
        <input type="email" name="student_email" required>

        <label>Student ID</label>
        <input type="text" name="student_id" required>

        <label>Student Password</label>
        <input type="password" name="student_password" required>

        <label>Student DOB</label>
        <input type="date" name="student_dob" required>

        <label>Exam Date</label>
        <input type="date" name="exam_date" required>

        <div class="checkbox-group">
            <input type="checkbox" name="is_active" checked>
            <label>Is Active</label>
        </div>

        <button type="submit">Register</button>
    </form>

    <div class="footer-text">
        © 2026 VJISS. All rights reserved.
    </div>
</div>

</body>
</html>
